@using PersonalPortfolioWebSite.Models;

<article class="work-experience">
    <p>@WorkExperienceModel.StartDate.ToString("MM/yyyy") - @WorkExperienceModel.EndDate.ToString("MM/yyyy")</p>
    <p>@WorkExperienceModel.CompanyName</p>
    <p>@WorkExperienceModel.JobTitle</p>
    <p>@((MarkupString)WorkExperienceModel.Description)</p>
    <ul class="technologies-list">
        @foreach (var technology in WorkExperienceModel.Technologies)
        {
            <li>@technology.Name - Level: @technology.Level</li>
        }
    </ul>
</article>

@code {
    [Parameter] public WorkExperienceModel WorkExperienceModel { get; set; } = new WorkExperienceModel(); // Default value
    
}
